
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  background: rgba(0, 0, 0, 0.76);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.InputButton{
  margin:20px;
  height: 80px;
  width: 400px;
  border-style:dotted;
  background-color: yellow;
  color: darkred;;
  font-size: larger;
  font-family:fantasy;
}

.RoundCounter{
  font-style:oblique;
  margin:inherit;
}

.Round1{
  color: #61dafb;
}
.Round2{
  color:rgb(106, 243, 197);
}
.Round3{
  color:blueviolet ;
}
.Round4{
  color:cadetblue; 
}
.Round5{
  color:chartreuse;
}
.Round6{
  color:orange;
}
.Round7{
  color:orchid;
}
.Round8{
  color:peachpuff;
}
.Round9{
  color:silver;
}
.Round10{
  color:slateblue;
}
.Round11{
  color:darkorchid;
}

.Badguy{
  max-width: 350px;
  max-height: 350px;
}

.Topcorner{
  position:absolute;
  top:0;
  right:0;
  margin: 10px;
}